main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#grid-container {
    display: grid;
    gap: 10px;
    max-height: 80vh;
}

.grid-cell {
    background-color: lightgray;
    border: 1px solid gray;
    aspect-ratio: 1;
    font-size: 60px;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flx {
    display: flex;
    width: 100%;
}

.flx-center {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flx-child {
    margin: 16px auto;
    display: inline-block;
}

.mt-4 {
    margin-top: 4rem;
}

.w-75 {
    width: 75%;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.flx-1 {
    flex: 1;
}

h1 {
    margin: 8px 0;
    text-align: center;
}
